.page {
  margin: auto;
  min-height: 1400px;
}
.main {
  display: flex;
  border: solid red 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 720px;
}

.formulario_container {
  border: 1px solid red;
  min-width: 500px;
}
.form__structure {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  /* border: 1px solid red; */
  border: 0;
}
.input__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto auto 10px;
  min-width: 200px;
  max-width: 300px;
}
.form__content {
  border: 1px solid red;
}

.form__label {
  min-width: 80px;
  max-width: 80px;
  overflow: hidden;

  border: 1px solid red;
}
.input__container_large-texts {
  flex-direction: column;
}

.form__label_large-texts {
  min-width: 200px;
  max-width: 200px;
}

.input__texts {
  display: flex;
  overflow: hidden;
  min-width: 80px;
  max-width: 80px;
  max-height: 20px;
  margin-left: 10px;
  border: 1px solid red;
}
.input__container .input__texts.input__texts_large-txt {
  margin-left: 0;
  max-width: 200px;
  border: 1px solid blue;
  margin-top: 5px;
}
.form__title {
  border: 1px solid red;
}
.form__line {
  height: 1px;
  background-color: black;
}

.form__two {
  margin-top: 10px;
}
.input__numbers {
  display: flex;
  overflow: hidden;
  min-width: 80px;
  max-width: 80px;
  max-height: 20px;
  margin-left: 10px;
  border: 1px solid red;
}
.input__container_large-num {
  flex-direction: column;
}
.form__label_large-num {
  min-width: 200px;
  max-width: 200px;
}
.input__texts_large-num {
  margin-left: 0;
  max-width: 200px;
  border: 1px solid blue;
  margin-top: 5px;
}
.input__color {
  margin: 5px auto 0;
  width: 200px;
  border: none;
}
